/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #777777;
	background-image: url("images/bg_body.jpg");
	background-position: top left;
	background-repeat: repeat;
	background-color: #111111;
}

h1 {
	color: #7F7F7F;
}

h2 {
	color: #7F7F7F;
}

h3 {
	border-bottom-color: #212121;
}

hr {
	border-color: #333333;
	border-top-color: #262626;
}

h2.viewonline-title, h2.searchresults-title, h2.mcp-title, h2.forum-title, h2.topic-title, h2.solo, h2.ucp-title, h2.faq-title, h2.mcp-header, h2.memberlist-title, .bg_whois  {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 25%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 25%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 25%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-bottom-color: #111111;
	border-left-color: #262626;
	border-right-color: #262626;
	border-width: 0 1px 2px 1px;
	border-style: solid;
	padding: 8px 0 8px 5px;

}

h2.memberlist-title, h2.forum-title, h2.topic-title, h2.searchresults-title, h2.mcp-title {
    margin:0;
}

h2.viewonline-title {
    margin-bottom: 0;
}

p.bg_users {
    border-top-color: #313131;
    border-bottom-color: #111111;
    border-left-color: #262626;
    border-right-color: #262626;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
}

a.whois-marg {margin-left: 5px;}

h2.faq-title {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 15%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 15%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 15%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-bottom-color: #090909 !important;
	border-left-color: #262626;
	border-right-color: #262626;
	border-width: 0 1px 2px 1px;
	border-style: solid;
	padding: 10px 0 10px 5px;
}

h2.sitename-title, #register h2 {
	border-bottom-color: #090909 !important;
	border-left-color: #262626;
	border-right-color: #262626;
	border-top-color: #262626;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
	padding: 10px 0 10px 5px;
	color: #9e2222 !important;
}

h2.login-title { color: #9e2222 !important; }

#bgfieldset-buttons {
    border-top:1px solid #313131;
}

fieldset.submit-butt-register {
	background: inherit !important;
	border: 0 !important;
}

#viewprof.panel.bg1, #viewprof.panel.bg2 {
    border-top:1px solid #313131;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #7F7F7F; }
a:hover { color: #9e2222; }

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #9e2222;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #262626;
}

/* Post body links */
.postlink {
	color: #7F7F7F;
}

.postlink:visited {
	border-bottom-color: #313131;
	color: #666666;
}

.postlink:hover {
	color: #9e2222;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

.online-list h3, .perm h3, .perm2 h3 {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-bottom-color: #090909;
}

.statistics h3, .nav-social h3 {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    color: #7F7F7F;

}

.birthday-list h3 {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    color: #7F7F7F;
}

.headerspace h3 {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-bottom-color: #090909;
}

.bg_users {
    background-color: #181818;
    padding:10px 0 10px 5px;
}

.permissions h3 {
    color: #7F7F7F;
}


/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover .icon {
	color: #9e2222 !important;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.wrap {
	background-color: #0F0F0F;
	-webkit-box-shadow: 0px 0px 9px 5px rgba(5,5,5,0.90);
	-moz-box-shadow: 0px 0px 9px 5px rgba(5,5,5,0.90);
	box-shadow: 0px 0px 9px 5px rgba(5,5,5,0.90);
}

#site-logo {
    background: #3d3d3d;
    background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 10%, #181818 100%);
    background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 10%,#181818 100%);
    background: linear-gradient(to bottom, #3d3d3d 0%,#181818 10%,#181818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    border-top-color: #262626;
    border-left-color: #262626;
    border-right-color: #262626;
    border-style: solid;
    border-bottom-color: #090909;
}

.site-description {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 10%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 10%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 10%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-top-color: #3d3d3d;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #090909;
}

.toplogin {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #090909;
}

.top-headerspace {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 5%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 5%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 5%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-top-color: #3d3d3d;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #262626;
}

.top-online {
	background-color: #181818;
	border-color: #262626;
}

.top-online2 {
	background-color: #181818;
	border-color: #262626;
}

.top-online3 {
	background-color: #181818;
	border-color: #262626;
}

.perm {
	background-color: #181818;
	border-color: #262626;
}

.perm p {
	background-color: #181818;
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.perm2 {
	background-color: #181818;
	border-color: #262626;
}

.perm2 p {
	background-color: #181818;
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.online-list p {
	background-color: #181818;
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.top-birthday {
	background-color: #181818;
	border-color: #262626;
}

.top-birthday h3 {
	border-bottom-color: #111111;
}

.top-birthday p {
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.top-statistics {
	background-color: #181818;
	border-color: #262626;
}

.top-statistics h3 {
	border-bottom-color: #090909;
}

.top-statistics p {
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.nav-social {
	background-color: #181818;
	border-color: #262626;
}

.nav-social h3 {
	border-bottom-color: #090909;
	border-top: 0;
}

ul.club {
	background-color: #181818;
	border-color: #262626;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.search-top {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #262626;
}

.forumname {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #262626;
}

.img_footer_right {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #181818;
}

.img_footer_right_2 {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #181818;
}

ul.topiclist li.header {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-top-color: #222222;
	border-left-color: #262626;
	border-right-color: #262626;
	border-style: solid;
	border-bottom-color: #090909;
}

.navbar {
	background: #181818;
	border-top-color: #262626;
	border-left-color: #222222;
	border-right-color: #222222;
	border-style: solid;
	border-bottom-color: #090909;
}

.navbar-footer {
    background: #3d3d3d;
    background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
    background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
    background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    border-top-color: #181818;
    border-left-color: #262626;
    border-right-color: #262626;
    border-style: solid;
    border-bottom-color: #090909;
}

ul.nav-footer-right {
    background: #3d3d3d;
    background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
    background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
    background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    border-top: #181818;
    border-left-color: #262626;
    border-right-color: #262626;
    border-bottom-color: #090909;
}

.navbar-footer2 {
    background: #3d3d3d;
    background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 30%, #181818 100%);
    background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 30%,#181818 100%);
    background: linear-gradient(to bottom, #3d3d3d 0%,#181818 30%,#181818 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
    border-top-color: #181818;
    border-left-color: #262626;
    border-right-color: #262626;
    border-style: solid;
    border-bottom-color: #090909;
}

#timer {
    background: #181818;
    border-top-color: #262626;
    border-left-color: #262626;
    border-right-color: #262626;
    border-style: solid;
    border-bottom-color: #262626;
}

.panel {
	background-color: #181818;
	border-top: 1px solid #262626;
	border-right: 1px solid #262626;
	border-left: 1px solid #262626;
	border-bottom: 1px solid #111111;
	color: #CCCCCC;
}

.jump-search, p.advanced-search-link {
	background-color: #181818;
	padding: 0.700em 0.400em 0.700em 0;
	margin:0.500em 0;
	border: 1px solid #262626;
}

.bar-top-search {
	background-color: #181818;
	padding: 0.600em 0.300em 0.600em 0;
	margin:0 0 0.500em 0;
	border: 1px solid #262626;
}

.bg-moderators {
	background-color: #181818;
	padding: 0.700em 0 0.700em 0.400em;
	margin:0 0 0.300em 0;
	border: 1px solid #262626;
}

p.linkmcp {
	background-color: #181818;
	padding: 0.700em 0 0.700em 0.400em;
	margin:0 0 0.500em 0;
	border: 1px solid #262626;
}

fieldset.submit-buttons {
	background: #222222;
	padding:0.900em 0 0.900em 0;
	line-height: 1.2;
	border-top: 1px solid #313131;
	border-bottom: 1px solid #0f0f0f;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
}


fieldset.send-button-email {
	background: inherit !important;
	margin:0 !important;
	padding: 0 !important;
	border: 0 !important;
	text-align: center;
	line-height: 3.0;
}

fieldset.display-actions {
	background: #222222;
	padding: 0.500em 0 0.500em 0;
	border-top: 1px solid #313131;
	border-bottom: 1px solid #0f0f0f;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
}

fieldset.bg-fieldset-ucp {
	background: #222222;
	padding: 0.200em 0 0.700em 0;
	border-top: 1px solid #313131;
	border-bottom: 1px solid #0f0f0f;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
}

fieldset.bg-fieldset-ucp input.button2 {
	line-height: normal;
	margin-left: 1.000em;
}

fieldset.search-buttons {
	background: #181818;
	padding: 0.700em 0 0.700em 0;
	border: 1px solid #262626;
}

.search_panel {
	background-color: #181818;
	border-top: 1px solid #262626;
	border-left: 1px solid #262626;
	border-right: 1px solid #262626;
	border-bottom: 1px solid #181818;
}

.post:target .content {
	color: #A0A0A0;
}

.post:target h3 a {
	color: #7F7F7F;
}

.bg1 {
	background-color: #181818;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #181818;
}

.bg2 {
	background-color: #181818;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #E1EBF2;
}

.bg3	{
	background-color: #181818;
}

.bg4 {
	background-color: #181818;
}

.bg5 {
	background-color: #181818;
}

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.logo-forum {
	background-image: url("./images/blackboard_forum.png");
	background-repeat: no-repeat;
}

/* Horizontal lists
----------------------------------------*/

ul.navlinks {
	border-top-color: #212121;;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	background: #3d3d3d;
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 20%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 20%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 20%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border: 1px solid transparent;
	border-right-color: #212121;
	border-top-color: #3B3B3B;
	border-style: solid;
	border-bottom-color: #090909;
	padding: 7px 0;
}

table.table1 .membertd {
	border-bottom: 1px solid #090909;
}

table.table1 .posts {
	border-bottom: 1px solid #090909;
}

table.table1 .member-joined {
	border-bottom: 1px solid #090909;
}

table.table1 .last-active {
	border-bottom: 1px solid #090909;
}

table.table1 .name {
	border-bottom: 1px solid #090909;
}

table.table1 .info {
	border-bottom: 1px solid #090909;
	
}

table.table1 .active {
	border-left: 0;
}

table.table1 tbody tr {
	border-color: #262626;
	border-bottom-color: #090909;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #202020;
	color: #9e2222;
}

table.table1 tbody td {
	border-top-color: #262626;
	border-right-color: #262626;
	border-bottom: 1px solid #090909;
	border-left:1px solid #090909;
}

table.table1 tbody th {
	border-bottom-color: #000000;
	color: #333333;
	background-color: #181818;
}

table.info tbody th {
	color: #000000;
}

.forumbg table.table1 {
	border-left-color: #262626;
	border-bottom-color: #262626;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #CCCCCC;
}

dl.details dd {
	color: #adadad;
}

.sep {
	color: #CCCCCC;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #ed3b3b;
}

.icon.icon-green, a:hover .icon.icon-green{
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red{
	color: #9e2222;
}

.icon.icon-orange, a:hover .icon.icon-orange{
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray{
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray{
	color: #CCCCCC;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray{
	color: #999999;
}

.icon.icon-black{
	color: #333333;
}

a:hover .icon.icon-black {
	color: #9E2222;
}

.alert_close .icon:before {
	background-color: #FFFFFF;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #313131;
}

.jumpbox-cat-link {
	background: #3d3d3d;
	background: -moz-linear-gradient(top, #5d5d5d 0%, #161616 2%, #161616 100%);
	background: -webkit-linear-gradient(top, #5d5d5d 0%,#161616 2%,#161616 100%);
	background: linear-gradient(to bottom, #5d5d5d 0%,#161616 2%,#161616 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#161616',GradientType=0 );
	color: #A0A0A0;
}

.jumpbox-forum-link {
	background: #3d3d3d;
    background: -moz-linear-gradient(top, #5d5d5d 0%, #161616 2%, #161616 100%);
    background: -webkit-linear-gradient(top, #5d5d5d 0%,#161616 2%,#161616 100%);
    background: linear-gradient(to bottom, #5d5d5d 0%,#161616 2%,#161616 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#161616',GradientType=0 );
    color: #A0A0A0;
}

.jumpbox-forum-link:hover {
	background-color: #202020;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #181818 transparent;
}

.jumpbox-sub-link {
	background-color: #181818;
    border-bottom: 0;
}

.jumpbox-sub-link:hover {
	background-color: #202020;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	background-color: #181818;
    border-color: #262626;
    border-bottom-color: #181818;
	color: #555555;
}

.error {
	color: #9e2222;
}

.reported {
	background-color: #7b1616;
}

li.reported:hover {
	background-color: #b73535 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #9e2222;
	color: #CCCCCC;
}

p.post-notice {
	background-color: #121212;
	border: 1px solid #262626;
	background-image: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #181818;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #0f0f0f;
}

ul.topiclist li {
	color: #B3B3B3;
}

ul.topiclist dd {
	border-left-color: #111111;
}

.rtl ul.topiclist dd {
	border-right-color: #262626;
	border-left-color: transparent;
}

li.row {
	border-top-color: #262626;
	border-right-color: #262626;
	border-left-color: #262626;
	border-bottom-color: #090909;
}

li.row strong {
	color: #777777;
}

li.row:hover {
	background-color: #202020;
}

li.row:hover dd {
	border-left-color: #303030;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #7F7F7F;
}

/* Post body styles
----------------------------------------*/
.postbody {

}

/* Content container styles
----------------------------------------*/
.content {
	color: #CCCCCC;
}

.content h2, .panel h2 {
	color: #696c6d;
	border-bottom-color: #111111;
}

dl.faq dt {
	color: #CCCCCC;
}

dl.faq dd {
	color: #7F7F7F;
}

.posthilit {
	background-color: #9e2222;
	color: #FFFFFF;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #333333;
}

/* Post noticies */
.notice {
	border-top-color:  #333333;
}


/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #141414;
    border-color: #262626;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#212121;
	border-color: #333333;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #313131;
	border-color: #383838;
}

/* Code block */
.codebox {
	background-color: #121212;
	border-color: #313131;
}

.codebox p {
	border-bottom-color:  #313131;
}

.codebox code {
	color: #c64141;
}

dd textarea#message {background-color: #111111;border:1px solid #181818;}

dd textarea#message:hover {border: 1px solid #2D2D2D;}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #121212;
	border-color:  #313131;
}

.pm-message .attachbox {
	background-color: #121212;
}

.attachbox dd {
	border-top-color: #313131;
}

.attachbox dt {
	color: #ADADAD;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #7C7C7C;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #181818;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #202020;
}

dl.thumbnail dt a:hover img {
	border-color: #313131;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #111111;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #000000;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #9e2222;
	border-bottom-color: #9e2222;
	border-right-color: #9e2222;
}

.rtl .pollbar1 {
	border-left-color: #9e2222;
}

.pollbar2 {
	background-color: #9e2222;
	border-bottom-color: #9e2222;
	border-right-color: #9e2222;
}

.rtl .pollbar2 {
	border-left-color: #9e2222;
}

.pollbar3 {
	background-color: #9e2222;
	border-bottom-color: #9e2222;
	border-right-color: #9e2222;
}

.rtl .pollbar3 {
	border-left-color: #9e2222;
}

.pollbar4 {
	background-color: #9e2222;
	border-bottom-color: #9e2222;
	border-right-color: #9e2222;
}

.rtl .pollbar4 {
	border-left-color: #9e2222;
}

.pollbar5 {
	background-color: #9e2222;
	border-bottom-color: #9e2222;
	border-right-color: #9e2222;
}

.rtl .pollbar5 {
	border-left-color: #9e2222;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #333333;
}

.pm .postprofile {
	border-color: #444444;
}

.postprofile strong {
	color: #CCCCCC;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	background: rgb(28,28,28); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,28,28) 0%, rgb(15,15,15) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,28,28) 0%,rgb(15,15,15) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,28,28) 0%,rgb(15,15,15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
	border-top-color: #4d4d4d;
	border-bottom-color: #111;
	border-left-color: #262626;
	border-right-color: #262626;
	color: #A0A0A0;
}


.button:hover,
.button:focus {
	border-top-color: transparent;
}

.button .icon,
.button-secondary {

}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {

}

.button-search:hover,
.button-search-end:hover {

}

.caret	{ border-color: #313131; }
.caret	{ border-color: #313131; }

.contact-icons a		{ border-color: #222222; }
.contact-icons a:hover	{}

li.hvr-sweep-to-top a:hover {color: #FFFFFF;text-decoration: none;}

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 5%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 5%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 5%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	border-color: #232323;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #CCCCCC;
    z-index: 0;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	#FFFFFF;
}

.pagination li.active span {
	background: #9e2222;
	color: #FFFFFF;
	font-weight:bold;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	filter: none;
	text-shadow: none;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.jpg"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.jpg"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.jpg"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.jpg"); }
.global_unread						{ background-image: url("./images/announce_unread.jpg"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.jpg"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.jpg"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.jpg"); }

.announce_read						{ background-image: url("./images/announce_read.jpg"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.jpg"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.jpg"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.jpg"); }
.announce_unread					{ background-image: url("./images/announce_unread.jpg"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.jpg"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.jpg"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.jpg"); }

.forum_link							{ background-image: url("./images/forum_link.jpg"); }
.forum_read							{ background-image: url("./images/forum_read.jpg"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.jpg"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.jpg"); }
.forum_unread						{ background-image: url("./images/forum_unread.jpg"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.jpg"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.jpg"); }

.sticky_read						{ background-image: url("./images/sticky_read.jpg"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.jpg"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.jpg"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.jpg"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.jpg"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.jpg"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.jpg"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.jpg"); }

.topic_moved						{ background-image: url("./images/topic_moved.jpg"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.jpg"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.jpg"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.jpg"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.jpg"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.jpg"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.jpg"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.jpg"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.jpg"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.jpg"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.jpg"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.jpg"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.jpg"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr {
	border-color: #313131;
}

.cp-menu hr { border: 0;margin:0; }

.panel-container .panel li.row {
	border-bottom-color: #090909;
	border-top-color: #262626;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #7F7F7F;
}

.panel-container table.table1 thead th {
	color: #CCCCCC;
	border-bottom-color: #090909;
	border-left: 1px solid #090909;
	border-right: 1px solid #262626;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: #222222;
	color: #7F7F7F;
}

.tabs > a:hover {
	color: #9e2222;
}

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background: #9e2222;
	color: #CCCCCC;
}

.tabs .activetab > a:hover {
	color: #ffffff;
}

#tabs .sub-panels li {
	z-index: -2;
}


.tab > a:hover {
	color: #cccccc;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .tab > a {
	background-color: #222222;
	border-bottom:1px solid #111111;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background: #9e2222;
	color: #cccccc;
}

.minitabs .activetab > a:hover {
	color: #FFFFFF;
}

#minitabs .sub-panels li {
	z-index: -2;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #777777;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #9e2222;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	color: #7F7F7F;
	background: #161616;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-top-color: #262626;
	border-left-color: #222222;
	border-right-color: transparent;
	border-bottom-color: #0f0f0f;
}

.navigation a:hover {
    border:1px solid #222222;
}

.rtl .navigation a {
	background: #181818;
}

.navigation .active-subsection a {
	background: #222222;
	color: #9e2222;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.navigation .active-subsection a:hover {
	color: #CCCCCC;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px)
{
	#navigation a, .rtl #navigation a {
		background: #181818;
	}
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #9e2222;
	font-size: 1.900em;
}

.panel-container .panel {
	background-color: #222222;
	border-top: 1px solid #313131;
}

.cp-main .pm {
	background-color: #181818;
}

/* Friends list */
.cp-mini {
	background: #181818;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-top-color: #262626;
	border-left-color: #262626;
	border-right-color: #262626;
	border-bottom-color: #0f0f0f;
}

dl.mini dt {
	color: #7F7F7F;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #9e2222 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FC8B8B;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A7A7A7;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #E02020;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background: #292929;
    border-color: #444;
}

.gallery label:hover {
	background-color: #591a1a;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #313131;
	background-color: #111111;
	color: #7F7F7F;
}

label {
	color: #7F7F7F;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #7F7F7F;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #111111;
}

/* Posting page styles
----------------------------------------*/

.message-box textarea {
	color: #7F7F7F;
}

.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #111111;
	border-color: #262626;
	color: #777777;
}

.inputbox:-moz-placeholder {
	color: #333333;
}

.inputbox::-webkit-input-placeholder {
	color: #333333;
}

.inputbox:hover {
	border-color: #2d2d2d;
	margin: 0;
}

.inputbox:focus {
	border-color: #181818;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, a.button2, a.button3, input.button1, input.button3, input.button2 {
	background: rgb(28,28,28); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,28,28) 0%, rgb(15,15,15) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,28,28) 0%,rgb(15,15,15) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,28,28) 0%,rgb(15,15,15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */
	border-top-color: #575757;
	border-bottom-color: #111;
	border-left-color: #262626;
	border-right-color: #262626;
    color: #A0A0A0;
}


/* Hover states */
input.button1:hover, input.button2:hover, input.button3:hover {
	background: #751d1d; /* Old browsers */
	background: -moz-linear-gradient(top, #631616 0%, #9e2222 100%);
	background: -webkit-linear-gradient(top, #631616 0%,#9e2222 100%);
	background: linear-gradient(to bottom, #631616 0%,#9e2222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#631616', endColorstr='#9e2222',GradientType=0 );
	color: #CCCCCC;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(12,12,12,0.90);
	-moz-box-shadow: 0px 0px 1px 1px rgba(12,12,12,0.90);
	box-shadow: 0px 0px 1px 1px rgb(32, 19, 19);

}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	background: #751d1d; /* Old browsers */
	background: -moz-linear-gradient(top, #631616 0%, #9e2222 100%);
	background: -webkit-linear-gradient(top, #631616 0%,#9e2222 100%);
	background: linear-gradient(to bottom, #631616 0%,#9e2222 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#631616', endColorstr='#9e2222',GradientType=0 );
	color: #CCCCCC;
 }

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #181818;
	border-color: #313131;
}

.phpbb_alert p {
	color: #9e2222;
	font-weight: bold;
}

.alert_text h3 {
	color: #7F7F7F;
}

.darken {
	background-color: #000000;
}

.loading_indicator {
	background-color: #000000;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #313131;
}

.dropdown-extended ul li:hover {
	background-color: #212121;

}

.dropdown-extended .header {
	border-bottom-color: #181818;
	border-top: 1px solid #111111;
}

.dropdown-extended .footer {
	background: #181818;
	border-bottom-color: #090909;
	border-top: 1px solid #313131;

}

.dropdown-extended .header {
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #181818 20%, #181818 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%,#181818 20%,#181818 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%,#181818 20%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#181818',GradientType=0 );
	-webkit-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	color: #A0A0A0;

}

.dropdown .pointer {
	border-color: #262626 transparent;
}

.dropdown .pointer-inner {
	border-color: #181818 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #181818 transparent;
}

.dropdown .dropdown-contents {
	background: #181818;
	border-color: #222222;
	border-bottom-color: #111111;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	color: #A0A0A0;
}

.dropdown-up .dropdown-contents {
	-webkit-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
	box-shadow: 0px 0px 2px 1px rgba(34,34,34,1);
}

.dropdown li, .dropdown li li {
	border-color: #262626;
}

.dropdown li.separator {
	border-color: #262626;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #CCCCCC;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #D31141;
}

.badge {
	background-color: #9e2222;
	color: #ffffff;
}
