/* General Markup Styles
---------------------------------------- */
html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 101%;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: normal;
	margin: 0;
	padding: 12px 0;
	word-wrap: break-word;
	-webkit-print-color-adjust: exact;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.000em;
	padding-bottom: 5px;

}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 2em;
	margin: 0.500em 0 0.200em 0;
}

h2.solo {
	margin: 0 0 -1px 0;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
}

h3#review {
	margin:1.00em 0 1.000em 0;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	border: 0 solid transparent;
	border-top-width: 1px;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top-style: dashed;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

p.jumpbox-return {
	margin-bottom: 0;
	float: left;
}

b, strong {
	font-weight: bold;
}

.text-strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

.text-italics {
	font-style: italic;
}

u {
	text-decoration: underline;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	display: list-item;
}

ul ul, ol ul {
	list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
	list-style-type: square;
}

a:hover	{ text-decoration: underline; }

/* Main blocks
---------------------------------------- */
.wrap {
	border: 1px solid transparent;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1152px;
	min-width: 625px;
	padding: 15px;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	.wrap {
		margin: 0 12px;
	}
}

.page-body {
	margin: 4px 0;
	clear: both;
	padding: 4px 0 0 0;
}

.page-footer {
	clear: both;
}


.page-footer h3 {
	margin-top: 20px;
}

#site-logo {
    float:left;
    width:75%;
    border: 0px solid transparent;
    clear:left;
}

.logo {
	width: auto;
	padding: 10px 0 0 10px;
}

.logo:hover {
	text-decoration: none;
}

.site_logo {
	width: auto;
	display: block;
	padding:0;
}

img.blackboard-forum {
	max-width: 100%;
	margin: 0 auto;
	text-align:center;
}

.forumname {
	display: inline-block;
}

/* Site description and logo */
.site-description {
	float: right;
	width: 25%;
	padding: 0;
	border: 0px solid transparent;
	text-align: center;
	clear:right;
}

.site-description h1 {
	margin-top: 1.200em;
	margin-bottom: 0.900em;
	margin-left: 0;
	margin-right: 0;
}

.site-logo p {
	padding:0;
	margin: 8px 0 15px 30px;
	text-align: left;
}

#nav-breadcrumbs {
    width:100%;
}

#forum-name {
    text-align:center;
}

.forumname a {
    text-decoration:none;
    color:inherit;
    margin:0 auto;
    padding:0;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.toplogin {
	float:right;
	width: 25%;
    margin:0;
	padding: 20px 0;
	border: 0px solid transparent;
	clear:right;
}

.headerbar {
	padding: 0;
	border: 0px solid transparent;
}

.navbar {
    float:left;
    width:75%;
	padding:0;
    margin:0;
	border: 0px solid transparent;
	clear:left;
}

.navbar-footer {
    border:1px solid transparent;
    padding: 0.400em 0;
}

.navbar-footer2 {
    border:1px solid transparent;
    height: 32px;
    margin:0;
    padding:0;
}

#timer {
    float:left;
    width:75%;
    padding:0;
    margin:0;
    margin-bottom: 1px solid;
    border: 0px solid transparent;
    height: 25px;
    clear:left;
}

#timer p {
	margin-top: 2px;
}

.time {padding-right:5px;}
.time2{padding-left:5px;}

.top-headerspace {
	float:right;
	width: 25%;
	padding-bottom: 13px;
	border: 0px solid transparent;
	margin-top: 0.600em;
	clear:right;
}

.headerspace h3 {
	margin-top: 0;
	padding: 10px 0 10px 5px;
	margin-bottom: 0;
	line-height: 1.500em;
}

.headerspace input.button2 {padding: 3px 5px;}

.top-online {
	float:right;
	width: 25%;
	margin-bottom: 6px;
	margin-top: 1.900em;
	border: 0px solid transparent;
	clear:right;
}

.top-online2 {
	float:right;
	width: 25%;
	margin-bottom: 6px;
	margin-top: 6px;
	border: 1px solid transparent;
	clear:right;
}

.top-online3 {
	float:right;
	width: 25%;
	margin-top: 1.900em;
	border: 1px solid transparent;
	clear:right;
}

.perm {
	float:right;
	width: 25%;
	margin-bottom: 10px;
	border: 1px solid transparent;
	clear:right;
}

.perm2 {
	float:right;
	width: 25%;
	margin-top: 0.300em;
	border: 1px solid transparent;
	clear:right;
}

.online-list h3, .online-list p, .perm h3, .perm p, .perm2 h3, .perm2 p {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.top-birthday {
	float:right;
	width: 25%;
	margin-bottom: 6px;
	border: 1px solid transparent;
	clear:right;
}

.top-birthday h3, .top-birthday p {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.top-statistics {
	float:right;
	width: 25%;
	margin-bottom: 6px;
	border: 1px solid transparent;
	clear:right;
}

.top-statistics h3, .top-statistics p {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

.search-top {
	float:right;
	width: 25%;
	padding: 2px 0;
	margin:0;
	border: 0px solid transparent;
}


.forumbody {
	float:left;
	width: 100%;
}

.forumname {
	float:right;
	width: 25%;
	margin-top: 6px;
	padding: 9px 0;
	border: 0px solid transparent;
	clear:right;
}

.img_footer_right {
	border: 1px solid transparent;
	text-align:center;
	margin:0 auto;
}

.img_footer_right img {
	margin: 2.290em 0;
}

.img_footer_right_2 {
	border: 1px solid transparent;
	text-align:center;
	margin:0 auto;
}

.img_footer_right_2 img {
	margin: 1.265em 0;
}

.forabg {
	clear: both;
}

.forumbg {
	clear: both;
}

ul.topiclist li.header {
	padding: 7px 0;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin-top: 0.550em;
}

.panel {
	margin-bottom: 1px;
	padding: 5px 10px;
}

.bg-inherit {
	background-color: inherit !important;
	border: 0 !important;
	padding: 0 !important;
}

#postingbox.panel {
	border-top:1px solid #313131;
}

.post {
	padding: 5px 10px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	position: relative;
}

.rowbg {
	margin: 5px 5px 2px 5px;
}

blockquote {
	border-radius: 5px;
}

/* Horizontal lists
----------------------------------------*/
.navbar ul.linklist {
	padding: 5px 0 5px 0;
	list-style-type: none;
}

ul.linklist {
	display: block;
	margin: 0;
}

.cp-main .panel {
	padding: 5px 10px;
}

ul.linklist > li {
	float: left;
	font-size: 1.1em;
	line-height: 2.0em;
	list-style-type: none;
	margin-right: 7px;
	padding-top: 0px;
	width: auto;
}

p.rightside, a.rightside {
	float: right;
	margin-right: 0;
	text-align: right;
}

ul.linklist > li.rightside {
	float: right;
	text-align: right;
}

ul.navlinks {
	border-top: 0px solid transparent;
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

ul.linklist li.responsive-menu {
	position: relative;
	margin: 0 5px 0 5px;
}

.hasjs ul.linklist.leftside, .hasjs ul.linklist.rightside {
	max-width: 48%;
}

.hasjs ul.linklist.fullwidth {
	max-width: none;
}

li.responsive-menu.dropdown-right .dropdown {
	left: 0;
}

li.responsive-menu.dropdown-left .dropdown {
	right: 0;
}

ul.linklist .dropdown {
	top: 22px;
}

ul.linklist .dropdown-up .dropdown {
	bottom: 18px;
	top: auto;
}


/* nav social club
------------------------------*/
.nav-social {
	float:right;
	width: 25%;
	border: 1px solid transparent;
	clear:right;
	margin-bottom:5px;
}

ul.club .navclub > li {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	outline:none;
	background: #3d3d3d; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3d3d 0%, #161616 5%, #161616 100%);
	background: -webkit-linear-gradient(top, #3d3d3d 0%, #161616 5%, #161616 100%);
	background: linear-gradient(to bottom, #3d3d3d 0%, #161616 5%, #161616 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#161616',GradientType=0 );
	border: 1px solid transparent;
	border-color: #161616;
	border-bottom-color: #111111;
	box-shadow: 0 1px 1px #333333 inset;
	padding: 7px 14px;
	margin:0 2px;
}

.nav-social li a {
	font-weight: bold;
	text-align: center;
}

.nav-social a .fa {
    line-height: 73px;
}

.fs28 {font-size: 2.500em;}


.fa {
    line-height: inherit;
}

.fa {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
em, i {
    line-height: inherit;
}

ul.club {
	padding:1.700em 0.000em;
	text-align: center;
}

h3.social-club {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	border:1px solid transparent;
}

/* Bulletin icons for list items
----------------------------------------*/
ul.linklist.bulletin > li:before {
	display: inline-block;
	content: "\2022";
	font-size: inherit;
	line-height: inherit;
	padding-right: 4px;
}

ul.linklist.bulletin > li:first-child:before,
ul.linklist.bulletin > li.rightside:last-child:before {
	content: none;
}

ul.linklist.bulletin > li.no-bulletin:before {
	content: none;
}

.responsive-menu:before {
	display: none !important;
}

/* Profile in overall_header.html */
.header-profile {
	display: inline-block;
	vertical-align: top;
}

a.header-avatar,
a.header-avatar:hover {
	text-decoration: none;
}

a.header-avatar img {
	margin-bottom: 2px;
	max-height: 20px;
	vertical-align: middle;
	width: auto;
}

a.header-avatar span:after {
	content: '\f0dd';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	padding-left: 6px;
	padding-top: 2px;
	vertical-align: top;
}

/* Dropdown menu
----------------------------------------*/
.dropdown-container {
	position: relative;
}

.dropdown-container-right {
	float: right;
}

.dropdown-container-left {
	float: left;
}

.nojs .dropdown-container:hover .dropdown {
	display: block !important;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 1.2em;
	z-index: 2;
	border: 1px solid transparent;
	padding: 9px 0 0;
	margin-right: -500px;
}

.dropdown.live-search {
	top: auto;
}

.dropdown-container.topic-tools {
	float: left;
}

.dropdown-up .dropdown {
	top: auto;
	bottom: 1.2em;
	padding: 0 0 9px;
}

.dropdown-left .dropdown, .nojs .rightside .dropdown {
	left: auto;
	right: -5px;
	margin-left: -500px;
	margin-right: 0;
}

.dropdown-button-control .dropdown {
	top: 24px;
}

.dropdown-button-control.dropdown-up .dropdown {
	top: auto;
	bottom: 24px;
}

.dropdown .pointer, .dropdown .pointer-inner {
	position: absolute;
	width: 0;
	height: 0;
	border-top-width: 0;
	border-bottom: 10px solid transparent;
	border-left: 10px dashed transparent;
	border-right: 10px dashed transparent;
	-webkit-transform: rotate(360deg); /* better anti-aliasing in webkit */
	display: block;
}

.dropdown-up .pointer, .dropdown-up .pointer-inner {
	border-bottom-width: 0;
	border-top: 10px solid transparent;
}

.dropdown .pointer {
	right: auto;
	left: 10px;
	top: -1px;
	z-index: 3;
}

.dropdown-up .pointer {
	bottom: -1px;
	top: auto;
}

.dropdown-left .dropdown .pointer, .nojs .rightside .dropdown .pointer {
	left: auto;
	right: 10px;
}

.dropdown .pointer-inner {
	top: auto;
	bottom: -11px;
	left: -10px;
}

.dropdown-up .pointer-inner {
	bottom: auto;
	top: -11px;
}

.dropdown .dropdown-contents {
	z-index: 2;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid transparent;
	position: relative;
	max-height: 300px;
}

.dropdown-contents a {
	display: block;
	padding: 5px;
}

.jumpbox .dropdown li {
	border-top: 1px solid transparent;
}

.jumpbox .dropdown-select {
	margin: 0;
}

.jumpbox .dropdown-contents {
	padding: 0;
	text-decoration: none;
}

.jumpbox .dropdown-contents li {
	padding: 0;
}

.jumpbox .dropdown-contents a {
	margin-right: 20px;
	padding: 5px 10px;
	text-decoration: none;
	width: 100%;
}

.jumpbox .spacer {
	display: inline-block;
	width: 0px;
}

.jumpbox .spacer + .spacer {
	width: 20px;
}

.dropdown-contents a {
	display: block;
	padding: 5px;
}

.jumpbox .dropdown-select {
	margin: 0;
}

.jumpbox .dropdown-contents a {
	text-decoration: none;
}

.dropdown li {
	display: list-item;
	border-top: 1px dotted transparent;
	float: none !important;
	line-height: normal !important;
	font-size: 1em !important;
	list-style: none;
	margin: 0;
	white-space: nowrap;
	text-align: left;
}

.dropdown-contents > li {
	padding-right: 15px;
}

.dropdown-nonscroll > li {
	padding-right: 0;
}

.dropdown li li:first-child {
	margin-top: 4px;
}

.dropdown li li:last-child {
	padding-bottom: 0;
}

.dropdown li li {
	border-top: 1px dotted transparent;
	padding-left: 18px;
}

.wrap .dropdown li, .dropdown.wrap li, .dropdown-extended li {
	white-space: normal;
}

.dropdown li.separator {
	border-top: 1px solid transparent;
	padding: 0;
}

.dropdown li.separator:first-child, .dropdown li.separator:last-child {
	display: none !important;
}

/* Responsive breadcrumbs
----------------------------------------*/
.breadcrumbs .crumb {
	float: left;
	font-weight: bold;
	word-wrap: normal;
}

.breadcrumbs .crumb:before {
	content: '\2039';
	font-weight: bold;
	padding: 0 0.5em;
}

.breadcrumbs .crumb:first-child:before {
	content: none;
}

.breadcrumbs2 .crumb2:first-child:before {
	content: none;
}

.breadcrumbs2 .crumb2 {
	float: left;
	font-weight: bold;
	word-wrap: normal;
}

.breadcrumbs2 .crumb2:before {
	content: '\2039';
	font-weight: bold;
	padding: 0 0.5em;
}

.breadcrumbs .crumb a {
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: bottom;
	overflow: hidden;
	margin-left: 3px;
}

.breadcrumbs2 .crumb2 a {
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
}

.breadcrumbs.wrapped .crumb a { letter-spacing: -.3px; }
.breadcrumbs.wrapped .crumb.wrapped-medium a { letter-spacing: -.4px; }
.breadcrumbs.wrapped .crumb.wrapped-tiny a { letter-spacing: -.5px; }

.breadcrumbs .crumb.wrapped-max a { max-width: 120px; }
.breadcrumbs .crumb.wrapped-wide a { max-width: 100px; }
.breadcrumbs .crumb.wrapped-medium a { max-width: 80px; }
.breadcrumbs .crumb.wrapped-small a { max-width: 60px; }
.breadcrumbs .crumb.wrapped-tiny a { max-width: 40px; }

.breadcrumbs2.wrapped .crumb2 a { letter-spacing: -.3px; }
.breadcrumbs2.wrapped .crumb2.wrapped-medium a { letter-spacing: -.4px; }
.breadcrumbs2.wrapped .crumb2.wrapped-tiny a { letter-spacing: -.5px; }

.breadcrumbs2 .crumb2.wrapped-max a { max-width: 120px; }
.breadcrumbs2 .crumb2.wrapped-wide a { max-width: 100px; }
.breadcrumbs2 .crumb2.wrapped-medium a { max-width: 80px; }
.breadcrumbs2 .crumb2.wrapped-small a { max-width: 60px; }
.breadcrumbs2 .crumb2.wrapped-tiny a { max-width: 40px; }

/* Table styles
----------------------------------------*/
table.table1 {
	width: 100%;
	margin-top: 0.500em;
}

.ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.3em;
	font-size: 1em;
	padding: 0 0 4px 3px;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid transparent;
}

table.table1 td {
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 3px;
	border-top: 1px solid transparent;
	border-right: 1px solid transparent;
}

table.table1 tbody th {
	padding: 5px;
	border-bottom: 1px solid transparent;
	text-align: left;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .center		{ text-align: center; }
table.table1 .reportby	{ width: 15%; }
table.table1 .posts		{ text-align: center; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ width: 100%; white-space: normal; overflow: hidden; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }
table.table1 span.rank-img {
	float: right;
	width: auto;
}

table.info td {
	padding: 3px;
}

table.info tbody th {
	padding: 3px;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

.forumbg table.table1 {
	margin: 0;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.forumbg-table > .inner {
	margin: 0 -1px;
}

.color_palette_placeholder table {
	border-collapse: separate;
	border-spacing: 1px;
}

/* Misc layout styles
---------------------------------------- */
/* column[1-2] styles are containers for two column layouts */
.column1 {
	float: left;
	clear: left;
	width: 49%;
}

.column2 {
	float: right;
	clear: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	width: auto;
	text-align: left;
	max-width: 100%;
}

.left-box.profile-details {
	width: 80%;
}

dl#profile3 {padding:0 10px 0 0;}

.right-box {
	float: right;
	width: auto;
	text-align: right;
	max-width: 100%;
}

dl.details {
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	float: left;
	width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clearfix, fieldset dl, ul.topiclist dl, dl.polls {
	overflow: hidden;
}

fieldset.fields1 ul.recipients {
	list-style-type: none;
	line-height: 1.8;
	max-height: 150px;
	overflow-y: auto;
}

fieldset.fields1 dd.recipients {
	clear: left;
	margin-left: 1em;
}

fieldset.fields1 ul.recipients  input.button2{
	font-size: 0.8em;
	margin-right: 0;
	padding: 0;
}

fieldset.fields1 dl.pmlist > dt {
	width: auto !important;
}

fieldset.fields1 dl.pmlist dd.recipients {
	margin-left: 0 !important;
}

fieldset.bg-fieldset-ucp .left-button2 {
	margin-top: 0.500em;
}

/* Action-bars (container for post/reply buttons, pagination, etc.)
---------------------------------------- */
.action-bar {
	font-size: 11px;
}

.viewtopic-bar-top, .viewforum-bar-top {
	padding: 0.200em 0 0 0;
}

.jumpbox-3, .jumpbox-4, p.bg-result-search {
	padding: 0.200em 0 0.100em 0;
}

.bg-bottom-viewforum {
	margin:0.400em 0;
}

.jumpbox-not, .buttons-editor {
	background-color: inherit !important;
	border: 0 !important;
	padding: 0 !important;
}

.quick-buttons {
	background-color: inherit !important;
	border: 0 !important;
}

p.jumpbox-return {
	margin-top: 0;
	vertical-align:middle;
}

.jumpbox-3 p.jumpbox-return {
	margin: 0.200em 0 0.200em 0;
}

.jumpbox-4 p.jumpbox-return {
	margin: 0.200em 0 0.200em 0;
}

.jumpbox-4 .pagination-bottom {
	line-height: 2.0;
}

.action-bar.jumpbox-3, 
.action-bar.jumpbox-4 {
	margin: 0.500em 0 0.500em 0;
}

.action-bar.bar-top {
	margin: 0.300em 0 0.300em 0;
}

.action-bar.bottom {
	margin-top: 0.600em;
}

.bar-top-search .pagination {
	margin-top: 0.400em;
}

.pagi-pm-folder {
	margin-top:0.500em;
	margin-right:0.200em;
}

.action-bar .pagination-topic-top, 
.action-bar .pagination-viewforum-top {
	line-height: 2.0;
}

.action-bar .jump3-pagi {
	line-height: 1.5
}

.viewtopics-bar-bottom {
	margin-top: 0.200em;
	padding: 0;
}

.action-bar .button {
	float: left;
}

.action-bar .button-search {
	margin-right: 0;
}

.action-bar .button-secondary {
    margin-left: 3px;
}

p.bg-result-search {
	margin-bottom: 0.400em;
}

p.advanced-search-link {
	margin-top: 1.200em;
}

/* Pagination
---------------------------------------- */
.topic-read {
	float:right;
}

.umark-viewforum {
	text-align: right;
	width: auto;
	margin: 0.300em 0;
	font-size: 11px;
}

.pagination {
	float: right;
	text-align: right;
	width: auto;
	margin-right: 0.100em;
}

.action-bar.bar-bottom .pagination {
	margin-top: 0;
}

.action-bar .pagination .button {
	margin-right: 0;
	float: none;
}

.pagination > ul {
	display: inline-block;
	list-style: none !important;
	margin-left: 5px;
}

.pagination > ul > li {
	display: inline-block !important;
	padding: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: middle;
}

.pagination li a, .pagination li span {
	padding: 2px 5px;
}

.pagination li.active span {
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
}

.pagination li.ellipsis span {
	border: none;
	padding: 0;
}

.pagination li.page-jump {
	margin-right: 5px;
}

.pagination li.page-jump a {
	padding: 0 8px;
}

.pagination li.page-jump a i {
	font-size: 21px;
}

.pagination .arrow a {
	padding: 2px 0;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
}

.row .pagination > ul {
	margin: 0;
}

.row .pagination li a, .row .pagination li span {
	padding: 1px 3px;
	font-size: 9px;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	border: 1px solid transparent;
	display: none;
	left: 0;
	padding: 0 25px 20px 25px;
	position: fixed;
	right: 0;
	top: 150px;
	z-index: 50;
	width: 620px;
	margin: 0 auto;
}

@media only screen and (max-height: 500px), only screen and (max-device-width: 500px)
{
	.phpbb_alert {
		top: 25px;
	}
}

.phpbb_alert .alert_close {
	float: right;
	margin-right: -36px;
	margin-top: -8px;
}

.phpbb_alert p {
	margin: 8px 0;
	padding-bottom: 8px;
}

.phpbb_alert label {
	display: block;
	margin: 8px 0;
	padding-bottom: 8px;
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input {
	font-size: 1.1em;
}

.darkenwrapper {
	display: none;
	position: relative;
	z-index: 44;
}

.darken {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 45;
}

.loading_indicator {
	background: center center no-repeat;
	border-radius: 5px;
	display: none;
	opacity: 0.8;
	margin-top: -50px;
	margin-left: -50px;
	height: 50px;
	width: 50px;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 51;
}

/* Miscellaneous styles
---------------------------------------- */
.page-footer2 {
	width:100%;
}

.pagefooter-right {
	float:right;
	width:25%;
	margin:1px 0 0 0;
	clear:right;
}

ul.nav-footer-right {
	border:1px solid transparent;
	padding: 0.250em 0;
	margin: 0;
}

ul.nav-footer-right li {
	margin-right: 5px !important;
	margin-top: 2px;
}

ul.nav-footer2 li.breadcrumbs2 {
    padding: 5px 0 5px 5px;
}

ul.nav-footer2 li {
	float: left;
	font-size: 1.1em;
	line-height: 2.2em;
	list-style-type: none;
	margin:0;
	padding:0;
	width: auto;
}

.nav-footer2 li.watch-forum {
	float:right;
	margin: 5px 5px 0 0;
}

.copyright {
	padding: 5px;
	border: 1px solid transparent;
}

.foot-copyright {
	float:right;
}

.footer-row {
    font-size: 10px;
    line-height: 1.8;
    margin: 0;
}

p.footer-row {
    line-height: 1.000em;
    font-size: 1.000em;
    margin-bottom: 1.000em;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.error {
	font-weight: bold;
	font-size: 1em;
}

div.rules {
	margin: 10px 0;
	font-size: 1.1em;
	padding: 5px 10px;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.post-notice {
	position: relative;
	padding: 5px;
	min-height: 14px;
	margin-bottom: 1em;
}

form > p.post-notice strong {
	line-height: 20px;
}

.stat-block {
	clear: both;
}

.top-anchor {
	display: block;
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}

/* Inner box-model clearing */
.inner:after,
ul.linklist:after,
.action-bar:after,
.notification_text:after,
.tabs-container:after,
.tabs > ul:after,
.minitabs > ul:after,
.postprofile .avatar-container:after {
	clear: both;
	content: '';
	display: block;
}

.emoji {
	min-height: 18px;
	min-width: 18px;
	height: 1em;
	width: 1em;
}

.smilies {
	vertical-align: text-bottom;
}

.icon-notification {
	position: relative;
}

.member-search {
	float: left;
	margin: 0;
	padding: 6px 10px;
}

.member-search strong {
	font-size: 0.95em;
}

.dropdown-extended {
	display: none;
	z-index: 1;
}

.dropdown-extended ul {
	max-height: 350px;
	overflow-y: auto;
	overflow-x: hidden;
	clear: both;
}

.dropdown-extended ul li {
	padding: 0;
	margin: 0 !important;
	float: none;
	border-top: 1px solid;
	list-style-type: none;
	font-size: 0.95em;
	clear: both;
	position: relative;
}

.dropdown-extended ul li.no_notifications {
	padding: 10px;
}

.dropdown-extended .dropdown-contents {
	max-height: none;
	padding: 0;
	position: absolute;
	width: 360px;
	left: -60px !important;
}

.nojs .dropdown-extended .dropdown-contents {
	position: relative;
}

.dropdown-extended .header {
	padding: 0 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	line-height: 3em;
	border-bottom: 1px solid;
}

.dropdown-extended .header .header_settings {
	float: right;
	font-weight: normal;
	text-transform: none;
}

.dropdown-extended .header .header_settings a {
	display: inline-block;
	padding: 0 5px;
}

.dropdown-extended .header:after {
	content: '';
	display: table;
	clear: both;
}

.dropdown-extended .footer {
	text-align: center;
	font-size: 1.1em;
}

.dropdown-extended ul li a, .dropdown-extended ul li.no-url {
	padding: 8px;
}

.dropdown-extended .footer > a {
	padding: 5px 0;
}

.dropdown-extended ul li a, .notification_list dt > a, .dropdown-extended .footer > a {
	display: block;
	text-decoration: none;
}

.notification_list ul li img {
	float: left;
	max-height: 50px;
	max-width: 50px;
	width: auto !important;
	height: auto !important;
	margin-right: 5px;
}

.notification_list ul li p {
	margin-bottom: 4px;
	font-size: 1em;
}

.notification_list p.notification-reference,
.notification_list p.notification-location,
.notification_list li a p.notification-reason {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notification_list p.notification-time {
	font-size: 0.9em;
	margin: 0;
	text-align: right;
}

.notification_list div.notifications {
	margin-left: 50px;
	padding: 5px;
}

.notification_list div.notifications a {
	display: block;
}

.notification_list p.notifications_title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.2em !important;
}

.notification_list p.notifications_title strong {
	font-weight: bold;
}

.notification_list p.notifications_time {
	font-size: 0.9em !important;
}

.notification_text {
	margin-left: 58px;
}

.badge {
	border-radius: 10px;
	opacity: 0.8;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
	line-height: 1;
	float: right;
	display: inline-block;
	margin-left: 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	padding: 4px 6px;
}

.badge.hidden {
	display: none;
}

/* Navbar specific list items
----------------------------------------*/

.linklist .quick-links {
	margin: 0 7px 0 0;
}

.linklist.compact .rightside > a > span {
	display: none;
}

.dropdown-page-jump .dropdown {
	top: 20px;
}

.dropdown-page-jump.dropdown-up .dropdown {
	bottom: 20px;
}

.dropdown-page-jump input.tiny {
	width: 50px;
}

.dropdown .clone.hidden  {
    display: none;
}

.dropdown .clone.hidden + li.separator {
	display: none;
}

.dropdown .clone.hidden + li {
	border-top: none;
}
