<div class="navbar"{% if not S_DISPLAY_SEARCH or S_IN_SEARCH %} class="no-search"{% endif %}>
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		{% DEFINE MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' %}
		{% EVENT overall_header_breadcrumbs_before %}
		<li class="breadcrumbs">
			{% if U_SITE_HOME %}
			<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_SITE_HOME }}" itemprop="url" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span itemprop="title">{{ lang('SITE_HOME') }}</span></a></span>
			{% endif %}
			{% EVENT overall_header_breadcrumb_prepend %}
			<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_INDEX }}" itemprop="url" accesskey="h" data-navbar-reference="index">{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw"></i>{% endif %}<span itemprop="title">{{ lang('INDEX') }}</span></a></span>

			{% for navlinks in loops.navlinks %}
			{% EVENT overall_header_navlink_prepend %}
			<span class="crumb" {{ definition.MICRODATA }}{% if navlinks.MICRODATA %} {{ navlinks.MICRODATA }}{% endif %}><a href="{{ navlinks.U_VIEW_FORUM }}" itemprop="url"><span itemprop="title">{{ navlinks.FORUM_NAME }}</span></a></span>
			{% EVENT overall_header_navlink_append %}
			{% endfor %}
			{% if S_VIEWTOPIC %}<span class="crumb crumb-topic"><a href="{{ U_VIEW_TOPIC }}">{{ TOPIC_TITLE }}</a></span>{% endif %}
			{% EVENT overall_header_breadcrumb_append %}
		</li>
		{% EVENT overall_header_breadcrumbs_after %}
		{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
		<li class="rightside responsive-search">
			<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" role="menuitem">
				<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
			</a>
		</li>
		{% endif %}

		{% if not S_IS_BOT %}
			{% if U_SITE_HOME %}
				{% if S_USER_LOGGED_IN and U_MARK_FORUMS %}<li class="rightside small-icon icon-mark-read"><a href="{U_MARK_FORUMS}" accesskey="m" data-ajax="mark_forums_read" title="{{ lang('MARK_FORUMS_READ') }}"></a></li>{% endif %}
			{% elseif S_INDEX %}
				{% if S_USER_LOGGED_IN and U_MARK_FORUMS %}<li class="rightside small-icon icon-mark-read"><a href="{U_MARK_FORUMS}" accesskey="m" data-ajax="mark_forums_read" title="{{ lang('MARK_FORUMS_READ') }}"></a></li>{% endif %}
			{% elseif S_VIEWFORUM %}
				{% if S_HAS_SUBFORUM and U_MARK_FORUMS %}<li class="rightside small-icon icon-mark-read"><a href="{U_MARK_FORUMS}" data-ajax="mark_forums_read" title="{{ lang('MARK_SUBFORUMS_READ') }}"></a></li>{% endif %}
			{% elseif S_VIEWTOPIC %}
				{% if U_VIEW_UNREAD_POST %}<li class="rightside small-icon icon-view"><a href="{U_VIEW_UNREAD_POST}" title="{{ lang('VIEW_UNREAD_POST') }}"></a></li>{% endif %}
			{% elseif SEARCH_MATCHES and not S_IN_SEARCH %}
				{% if SEARCH_TOPIC %}
					<li class="rightside"><a class="arrow-{S_CONTENT_FLOW_BEGIN}" href="{U_SEARCH_TOPIC}">{{ lang('RETURN_TO_TOPIC') }}</a></li>
				{% else %}
					<li class="rightside"><a class="arrow-{S_CONTENT_FLOW_BEGIN}" href="{U_SEARCH}" title="{{ lang('SEARCH_ADV') }}">{{ lang('GO_TO_SEARCH_ADV') }}</a></li>
				{% endif %}
			{% endif %}
		{% endif %}

	</ul>
</div>