// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-family: 'Exo', sans-serif;
    background-color: #343a40;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 4rem;
}

section {
    background: rgba(20, 20, 20, 0.9);
    flex-grow: 1;
    justify-content: space-around;
    overflow: hidden;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 100vh;
    overflow-y: auto;
}

.table-hover tbody tr:hover td {
    color: #3490dc;
    background-color: rgba(104, 105, 117, 0.1);
}

.table-both-hover tbody tr:hover td:hover {
    color: #3490dc;
    background-color: rgba(104, 105, 117, 0.1);
}

.table-transparent {
    background-color: rgba(19, 36, 47, 0.5);
}

.table-black {
    background: rgba(20, 20, 20, 0.7);
}

.nav-link {
    display: unset;
}

a:hover {
    text-decoration: none;
}

#inputBox {
    background-color: #212529;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 160px; /* Full-width */
    font-size: 16px; /* Increase font-size */
    color: #17a2b8;
    border: 1px solid #17a2b8; /* Add a grey border */
}

::placeholder {
    color: #17a2b8;
}

.tableFixHead {
    overflow-y: auto;
    height: 100vh;
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background-color: #212529;
}

.display-3-title {
    padding-top: 3rem;
    color: #008db5;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
    font-size: 3em;
    filter: drop-shadow(0px 1px 50px #058ab5);
    text-shadow: 0 1px 0 #222,
    0 1px 0 #000,
    0 2px 0 #222,
    0 3px 0 #333,
    0 2px 0 #444,
    0 3px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 1px rgba(0, 0, 0, .3),
    0 2px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .25),
    0 5px 7px rgba(0, 0, 0, .2),
    0 7px 10px rgba(0, 0, 0, .15);
}

.display-3 {
    padding-top: 2rem;
    color: #008db5;
    font-family: 'Press Start 2P', Helvetica, sans-serif;
    font-size: 2.5em;
    filter: drop-shadow(0px 1px 50px #058ab5);
    text-shadow: 0 1px 0 #222,
    0 1px 0 #000,
    0 2px 0 #222,
    0 3px 0 #333,
    0 2px 0 #444,
    0 3px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 1px rgba(0, 0, 0, .3),
    0 2px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .25),
    0 5px 7px rgba(0, 0, 0, .2),
    0 7px 10px rgba(0, 0, 0, .15);
}

.display-glow {
    filter: drop-shadow(0px 0px 10px #111111);
}

li {
    list-style-type: none;
}

/* CSS Document */
nav {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: center;
}

nav h3 a {
}

nav a {
}

nav h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
}

#container {
    margin: 0 auto;
    max-width: 890px;
}

nav label {
    margin-bottom: 0;
}

nav p {
    text-align: center;
}

.toggle, [id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 36, 47);
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    float: left;
    background-color: rgba(19, 36, 47, 0.95);
    background-blend-mode: darken;
    z-index: 999;
}

.dropdown-divider {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    z-index: 999;
}

/* Styling the links */
nav a {
    display: block;
    /*padding:14px 20px; */
    padding: 8px 8px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    text-decoration: none;
}

nav ul li ul li:hover {
}

/* Background color change on Hover */
nav a:hover {
    color: rgb(255, 255, 255);
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    /*top: 60px; */
    top: 48px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display: inherit;
}

/* First Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    text-align: left;
    display: list-item;
    position: relative;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after {
    content: ' ▾';
}

li > a:only-child:after {
    content: '';
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Styling the toggle label */
    .toggle {
        display: block;
        background-color: rgba(19, 36, 47, 0.95);
        padding: 8px 8px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: rgba(19, 36, 47, 0.3);
    }

    /* Display Dropdown when clicked on parent label */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: rgba(19, 36, 47, 0.3);
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 8px 8px;
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: rgba(16, 25, 34, 0.8);
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: rgba(255, 255, 255, 0.7);
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* First tier dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

    }
}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }
}

.fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    z-index: -100;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.picture {
    width: 450px;
    height: auto;
    object-fit: scale-down;
    filter: drop-shadow(0px 0px 3px #17a2b8) brightness(70%);
    margin-bottom: 20px;
}

@media (max-width: 968px) {
    .display-3 {
        font-size: 42px;
    }

    .title {
        display: none;
    }

    .picture {
        display: none;
    }

    .side-left {
        display: none;
    }

    .side-right {
        display: none;
    }

    .fullscreen-bg__video {
        display: none;
    }

    .btn {
        min-width: 200px;
        max-width: 350px;
    }

    .signup-section .form-inline input {
    }

    .contact-section .card h4 {
    }

    .middle {
        max-width: 350px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.side-right, .side-left {
    max-width: 400px;
    padding-bottom: 35px;
    margin-top: 35px;
}

.side-middle {
    padding: 1rem;
    flex-grow: 1;
}

@media (min-width: 969px) {
    .middle {
        max-width: 450px;
    }
}

@media (min-width: 1288px) {
    .btn {
        width: 225px;
    }
}

.timePosted {
    width: 20%;
    float: left;
}

.skill-dropdown {
    border: 1px solid #17a2b8;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

.panel {
    background: #111;
    width: 100vw;
    background: rgba(20, 20, 20, 0.75);
}

.side-panel {
    height: 259px;
    display: flex;
    flex-direction: column;
}

.side-panel > div:first-child {
    padding: 10px 7px;
}

.side-panel > div:last-child {
    padding-left: 10px;
    height: 70px;
}

/* modal! */
.modal-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border-radius: 0.5rem;
}

.modal-content > * {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
    cursor: pointer;
}

.content {
    background: #201B18;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.31, rgba(32, 27, 24, 1)),
            color-stop(0.99, rgba(42, 34, 32, 1))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgba(32, 27, 24, 1) 31%,
            rgba(42, 34, 32, 1) 99%
    );
    padding: 1px;
}

.spaced-body {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    margin: 0 auto;
}

.highscores-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.highscoresDropdown {
}

.clickable-row {
    cursor: pointer;
}

.skill-icon {
    width: 16px;
    height: 16px;
}

.skill {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.skill li {
    padding: 5px 10px 5px;
    text-shadow: 0 0 2px #201B18;
    font: 14px 'Exo', sans-serif;
}

.skill li:nth-child(odd) {
    background: #32383e;
}

.skill li:nth-child(even) {
    background: #212529;
}

.skill li a {
    color: #17a2b1;
}

.skill ul li a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.skill ul li img {
    vertical-align: middle;
    margin-right: 5px;
}

.ranking {
    flex: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.ranking h4 {
    box-shadow: 0 2px 2px black;
    margin-bottom: 1px;
    font-weight: 700;
    background-color: rgba(42, 34, 32, 1);
}

.ranking table {
    border-collapse: collapse;
}

.ranking tr {
    color: white;
    text-shadow: 0 0 2px #201B18;
    font: 16px 'Exo', sans-serif;
    text-align: right;
}

.ranking tr:first-child {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.ranking th {
    padding: 5px;
    font: 1em 'Exo', sans-serif;
    font-weight: 700;
}

.ranking td {
    padding: 4px;
}

.ranking tbody tr:first-child {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    font-size: 1.1em;
    font-weight: bold;
}

.ranking tr:nth-child(even) {
    background: rgba(32, 27, 24, 0.1);
}

.ranking tr:nth-child(odd) {
    background: rgba(42, 34, 32, 1);
}

.ranking tr a {
    color: #C6A444;
}

.ranking tr a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sm-list {
    width: 130px;
    float: left;
    display: inline;
}

#sm-list ul {
    list-style: none;
    float: left;
}

#sm-list ul li {
    float: left;
    width: 160px;
    padding: 10px 20px;
    color: white;
    text-shadow: 0 0 2px #201B18;
    font: 12px 'Exo', sans-serif;
}

#sm-list ul li:hover {
    background: rgba(42, 34, 32, 1);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.active {
    background: rgba(42, 34, 32, 1);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

#character-details {
    float: right;
    width: 320px;
    padding: 10px 20px;
    background: rgba(42, 34, 32, 1);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.rank {
    width: 70px;
    text-align: center;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.username {
    width: 220px;
    text-align: left;
}

td.username {
    padding-left: 7px;
}

.level {
    width: 80px;
}

.experience {
    width: 220px;
    text-align: right;
    padding-right: 5px;
}

#character {
    display: inline;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats {
    float: left;
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    background: rgba(22, 22, 22, .5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.bank {
    width: 100%;
    margin: 10px 0;
    padding: 5px 0;
    background: rgba(22, 22, 22, .5);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

#sm-skill {
    float: right;
    width: 330px;
    -moz-column-width: 45px;
    -webkit-column-width: 45px;
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-width: 45px;
    column-count: 5;
    column-gap: 20px;
    padding: 5px 0;
}

#sm-stats {
    width: 200px;
    display: inline;
    float: left;
    padding: 5px 5px;
}

#hero-page-details {
    width: 150px;
    float: left;
    display: inline;
}

#button-links {
    width: 150px;
    float: right;
    display: inline;
}

#name-fails, #pass-fails, #verification-fails, #user-fails {
    border: 1px solid #cd0a0a;
    background: #a32d00;
    color: white;
    padding: 5px;
    margin: -10px 0 10px 0;
}

.accomplishments {
    margin: 0 auto;
    text-align: center;
}

.sm-skill {
    font: 12px 'Exo', sans-serif;
    text-shadow: 0 0 2px #201B18;
}

.sm-skill2 {
    font: 12px 'Exo', sans-serif;
    text-shadow: 0 0 2px #201B18;
}

.sm-skill a {
    text-decoration: none;
}

.sm-skill a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sm-skill img {
    vertical-align: middle;
    padding-right: 5px;
}

.sm-skill2 img {
    vertical-align: middle;
    padding-left: 10px;
}

.sm-stats {
    display: block;
    font: 12px 'Exo', sans-serif;
    text-shadow: 0 0 2px #201B18;
    padding: 2px 0;
}

.sm-stats a {
    text-decoration: none;
}

.sm-stats a:hover {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#red {
    font: 12px 'Exo', sans-serif;
    color: red;
    text-shadow: 0 0 2px #201B18;
    padding: 2px 0;
}

#green {
    font: 12px 'Exo', sans-serif;
    color: green;
    text-shadow: 0 0 2px #201B18;
    padding: 2px 0;
}

.white {
    color: white;
}

.red {
    color: red;
}

.lime {
    color: lime;
}

.widget {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.31, rgba(32, 27, 24, 1)),
            color-stop(0.99, rgba(42, 34, 32, 1))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgba(32, 27, 24, 1) 31%,
            rgba(42, 34, 32, 1) 99%
    );
    padding: 20px;
}

.button {
    color: #C6A444;
    padding: 5px;
    display: block;
    margin: 10px 0;
    text-align: center;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.31, rgba(32, 27, 24, 1)),
            color-stop(0.99, rgba(42, 34, 32, 1))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgba(32, 27, 24, 1) 31%,
            rgba(42, 34, 32, 1) 99%
    );
}

.button a {
    color: #C6A444;
    text-decoration: none;
}

.button:active {
    color: white;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.31, rgba(42, 34, 32, 1)),
            color-stop(0.99, rgba(32, 27, 24, 1))
    );
    background-image: -moz-linear-gradient(
            center bottom,
            rgba(42, 34, 32, 1) 31%,
            rgba(32, 27, 24, 1) 99%
    );
}

.container {
    margin-bottom: 15px;
}

.pretty-text {
    text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 2px 0 #bbb,
    0 3px 0 #b9b9b9,
    0 2px 0 #aaa,
    0 3px 1px rgba(0, 0, 0, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 1px rgba(0, 0, 0, .3),
    0 2px 3px rgba(0, 0, 0, .2),
    0 3px 5px rgba(0, 0, 0, .25),
    0 5px 7px rgba(0, 0, 0, .2),
    0 7px 10px rgba(0, 0, 0, .15);
}
